blinker
certifi
charset-normalizer
click
dnspython
email_validator
ffmpeg-python
filelock
Flask
flask-mongoengine
Flask-WTF
fsspec
future
idna
itsdangerous
Jinja2
llvmlite
MarkupSafe
mongoengine
more-itertools
mpmath
networkx
numba
numpy
openai-whisper
PyAudio
PyJWT
pymongo
python-dotenv
regex
requests
semantic-version
setuptools
setuptools-rust
sympy
tiktoken
torch
tqdm
triton
typing_extensions
urllib3
Werkzeug
WTForms
TTS
